html {
    scroll-behavior: smooth;
}

header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border : 0%;
    overflow: hidden;
    padding: 10px 10px;
    background-color: rgba(76, 158, 65, 0.445);
    text-emphasis-color: black;
    
}
.logo{
    float: left;
    padding: 0px;
}
.menu{
    padding-top: 7px;
    float: right;
}
#menu_items a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(224, 224, 224);
    padding: 5px 10px;
    display: block;
}
#menu_items{
    display: none;
}
#head{
    color: rgb(39, 39, 113);
    font-size: 20px;
    padding: 0 20px;
    text-decoration: none;
}
#menu_icon{ 
    float: right;
    margin-top: -7px;
    margin-right: 5px;
    display: none;
    cursor: pointer;
}
#head:hover{
    background-color: rgba(50, 139, 33, 0.541);
    
}
.web-name1{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.web-name{
    font-size: 30px;
    font-family:sans-serif
    
}
#menu_icon div{
    width: 35px;
    height: 5px;
    background-color: rgb(39, 39, 113);
    margin: 5px 0;
    
}

@media screen and (max-width: 676px) {
    .logo {
      float: none;
      display: block;
      text-align: left;
    }
    .menu{
        float: none;
    }
    #head{
        padding: 5px;
        display: none;
    }
    
    #menu_icon{
        display: block;
        margin-top: -40px;
    }
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.intro{
    font-size: 20px;
    font-weight: 100;
    margin: 32px 32px 0px 32px;
}
#container{
    width: auto;
    color: rgb(39, 39, 113);
    border-radius: 2px;
    margin: 25px 50px;
    border: 1px dashed rgb(39, 39, 113);
}
.item{
    background-color: bisque;
    width: 50%;
    margin: 16px;
    padding: 32px;
    text-align: center;
    
}
#address{
    width: 50%;
}

button{
    cursor: pointer;
}


@media screen and (max-width: 650px) {
    .item{
        margin-left: 8px;
        width: 75%;
    }
    #address{
        width: 100%;
    }
}

.next_button{
    text-decoration: none;
    background-color: whitesmoke;
    color: rgb(39, 39, 113);
    border: 1px solid black;
    border-radius: 2px;
    padding: 0 2px;
}