html {
    scroll-behavior: smooth;
}

header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border : 0%;
    overflow: hidden;
    padding: 10px 10px;
    background-color: rgba(76, 158, 65, 0.445);
    text-emphasis-color: black;
    
}
.logo{
    float: left;
    padding: 0px;
}
.menu{
    padding-top: 7px;
    float: right;
}
#menu_items a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(224, 224, 224);
    padding: 5px 10px;
    display: block;
}
#menu_items{
    display: none;
}
#head{
    color: rgb(39, 39, 113);
    font-size: 20px;
    padding: 0 20px;
    text-decoration: none;
}
#menu_icon{ 
    float: right;
    margin-top: -7px;
    margin-right: 5px;
    display: none;
    cursor: pointer;
}
#head:hover{
    background-color: rgba(50, 139, 33, 0.541);
    
}
.web-name1{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.web-name{
    font-size: 30px;
    font-family:sans-serif
    
}
#menu_icon div{
    width: 35px;
    height: 5px;
    background-color: rgb(39, 39, 113);
    margin: 5px 0;
    
}

@media screen and (max-width: 676px) {
    .logo {
      float: none;
      display: block;
      text-align: left;
    }
    .menu{
        float: none;
    }
    #head{
        padding: 5px;
        display: none;
    }
    
    #menu_icon{
        display: block;
        margin-top: -40px;
    }
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


.ask_question{
    margin: 16px 0px;
    display: flex;
    justify-content: space-between;

}

.que_button, .question button{
    text-decoration: none;
    color : white;
    background-color: rgb(39, 39, 113);
    padding : 4px 6px;
    border-radius: 2px;
}

.question{
    border : 1px solid rgb(39, 39, 113);
    border-radius: 2px;
    color: rgb(39, 39, 113);
}

input, textarea{
    width: 50%;
    margin-left: 5px;
}

.forum_container{
    margin: 0 100px;
}

.question p{
    margin-left: 5px;
    margin-bottom: 0;
}
.question button{
    margin-left: 5px;
    margin-bottom: 3px;
    border: none;
}

@media screen and (max-width: 650px) {
    input, textarea {
        width: 90%;
    }
    
}