header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border : 0%;
    padding: 8px;
    padding-bottom: 15px;
    background-color: rgba(76, 158, 65, 0.445);
    text-emphasis-color: black;
    
}
.head{
    color: rgb(0, 0, 78);
    text-decoration: none;
    font-size: 20px;
    padding-left : 16px;
    padding-right : 16px;
    padding-bottom: 18px;
    margin-bottom: 32px;
   
}
.head:hover{
    background-color: rgba(35, 102, 22, 0.541);
    padding-top: 32px;
}
.web-name1{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.web-name{
    font-size: 30px;
    margin-right: 170px;
    font-family:sans-serif
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

*a{
    text-decoration: none;
    margin: 5%;
}*/

h2{
    margin: 20px;
    margin-left: 0px;
}

h3{
    background-color: #04A900;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin: 0px 450px;
    cursor: context-menu;
}

.go_away_please{
    display: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


form.victim_name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    margin: 30px 0px;
}

input[type=text] {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 20; 
    border: none;
    border-bottom: 2px solid red;
    background-color:  rgba(72, 164, 82, 1);
    width:100%;
    height: 50px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    border: 3px solid #555;
  }


main {
    padding-left: 142px;
    padding-right: 142px;
}

.pages {
    margin-top: 100px;
    padding: 50px 30px;
    border-radius: 8px;
    background-color: rgba(68, 224, 47, 0.445); /rgba(72, 164, 82, 1);/
    box-shadow: 0px 0px 6px rgb(0, 0, 0);
}

.pages .page {
    display: none;
}

.pages .page.is-active {
    display: block;
}

.side
{
    margin-left: 90px;
}