header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border : 0%;
    padding: 8px;
    padding-bottom: 15px;
    background-color: rgba(76, 158, 65, 0.445);
    text-emphasis-color: black;
    
}
.head{
    color: rgb(0, 0, 78);
    text-decoration: none;
    font-size: 20px;
    padding-left : 16px;
    padding-right : 16px;
    padding-bottom: 18px;
    margin-bottom: 32px;
   
}
.head:hover{
    background-color: rgba(35, 102, 22, 0.541);
    padding-top: 32px;
}
.web-name1{
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.web-name{
    font-size: 30px;
    margin-right: 170px;
    font-family:sans-serif
    
}
#about{
    background-color: rgb(199, 204, 199);
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 2%;
}
#natural-disasters{
   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 32px; margin-top: -8px;
    display: inline;
}

body {
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}

html {
box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

.column {
float: left;
width: 33.3%;
margin-bottom: 16px;
padding: 0 8px;
}

.card, .team {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
margin: 8px;
}

.about-section {
padding: 50px;
text-align: center;
background-color: #474e5d;
color: white;
}

.container {
padding: 0 16px;
}

.container::after, .row::after {
content: "";
clear: both;
display: table;
}

.title {
color: grey;
}

.button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
}

.button:hover {
background-color: #555;
}

.card, .team{
background-color: white;
}
.card:hover{
/* background-color: rgb(199, 204, 199); */
background-color: #efefef;
color: black;

}
div a{
text-decoration: none;
color: black;
}

@media screen and (max-width: 650px) {
.column {
width: 100%;
display: block;
}
}